{% extends "base.html" %}

{% block content %}

  <main class="transparent">
  	{{page.content | safe}}
  	<div id="illu-container">
  		<div class="illu-tile">
  			<img src="/inktober18_tile_collection.jpg" alt="Inktober 2018">
  			<p>Inktober 2018</p>
  			<p>Ink illustrations that tell the story of a beetle-collecting witch getting lost.</p>
  		</div>
  		<div class="illu-tile">
  			<img src="/18_09_5x2_flowers.jpg" alt="Kakao Challenge September Flowers">
  			<img src="/18_09_5x2_animals.jpg" alt="Kakao Challenge September Animals">
  			<img src="/18_09_5x2_people.jpg" alt="Kakao Challenge September People">
  			<p>September 2018 Challenge</p>
  			<p>A collection of 30 aceo/ atc/ kakao cards under the theme "slumber".</p>
  		</div>
  		<div class="illu-tile">
			<img src="/ninja_01.png" alt="Ninjas Kopf einziehen">
			<img src="/ninja_02.png" alt="Ninjas Free Wifi">
			<img src="/ninja_03.png" alt="Ninjas Respektvoll">
			<p>Ninja Hall Berlin Köpenick</p>
			<p>Ninja illustrations for usage as signs throughout the NinjaHall building in Köpenick.</p>
			<p><a class="illu-link" href="ninjahall.de">homepage</a><a class="illu-link" href="https://www.facebook.com/ninjahallberlin/">facebook</a><a class="illu-link" href="https://www.instagram.com/ninjahallberlin/">instagram</a></p>
  		</div>
  	</div>	
  </main>

{% endblock content %}

{% block navbartrans %}
class="nav-bar-trans"
{% endblock navbartrans %}