{% extends "base.html" %}

{% block imgL %}
class="nav-img"
{% endblock imgL %}

{% block imgR %}
class="nav-img"
{% endblock imgR %}

{% block navbartrans %}
class="nav-bar-trans"
{% endblock navbartrans %}

{% block content %}

  <main class="transparent">
  	{{page.content | safe}}
  	<div id="web-dev-container">
  	  <div class="web-dev-tile">
        <a class="web-dev-link" href="https://www.hebamme-michelecarstensen.de/" target="_blank"><img src="/mockup_michelemalm.png" alt="Michele Malm">Client work<p>A homepage for a freelancing midwife.</p></a>
      </div>
	  <div class="web-dev-tile">
        <a class="web-dev-link" href="https://www.etsy.com/shop/scrunchiebun" target="_blank"><img src="/logo_scrunchiebun.png" alt="Etsy Scrunchiebun"><p>Logo design for a small etsy shop.</p></a>
      </div>
	  <div class="web-dev-tile">
  			<a class="web-dev-link" href="https://kakao.jessicamalm.de/" target="_blank"><img src="/mockup_randomwords.png" alt="Random Words">Random Words<p>A generator that will output up to six different random words.</p></a>
  		</div>
  		<div class="web-dev-tile">
  			<a class="web-dev-link" href="https://instajessjess.tumblr.com/" target="_blank"><img src="/mockup_instajessjess.png" alt="Tumblr Theme InstaJessJess">Tumblr Theme: InstaJessJess<p>A clean and minimalistic grid theme. Responsive.</p></a>
  		</div>
		<div class="web-dev-tile">
			<a class="web-dev-link" href="https://codepen.io/joeososoi/full/QBaWxx" target="_blank"><img src="/mockup_portfolio.png" alt="FCC Portfolio">FreeCodeCamp: Portfolio Page</a>
		</div>
		<div class="web-dev-tile">
  			<a class="web-dev-link" href="https://codepen.io/joeososoi/full/MBWoJv" target="_blank"><img src="/webdev_fcc_tributepage.png" alt="FCC Tribute Page">FreeCodeCamp: Tribute Page</a>
  		</div>
  		<div class="web-dev-tile">
  			<a class="web-dev-link" href="https://codepen.io/joeososoi/full/MBepyW" target="_blank"><img src="/webdev_fcc_productlandingpage.png" alt="FCC Product Landing Page">FreeCodeCamp: Product Landing Page</a>
  		</div>
  		<div class="web-dev-tile">
  			<a class="web-dev-link" href="https://codepen.io/joeososoi/full/rrOxPZ" target="_blank"><img src="/webdev_fcc_surveyform.png" alt="FCC Survey Form">FreeCodeCamp: Survey Form</a>
  		</div>
  	</div>
  </main>

{% endblock content %}